.navbar {
    background-color: #c8a6df;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 230px;
    height: auto;
    margin-right: 230px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 35px;
}

.nav-link {
    text-decoration: none;
    color: rgb(201, 118, 215);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 20px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #d28fdf;
}