a {
    font-size: 20px;
    font-style: italic;
    text-decoration: none;
    color: black;
    float: left;
}

.active {
    color: rgb(46, 55, 220);
}

.navContainer {
    background-color: #c8a6df;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {

    font-size: medium;
    display: block;
    float: left;
    padding: 25px;

}